type data_misc_calibrator_file, file_type;

# debugfs
type debugfs_heaps_system, fs_type, debugfs_type;

# procfs
type proc_kernel_sched, fs_type, proc_type;
type proc_swap, fs_type, proc_type;

type rpm_stats_debug_file, file_type;
type rmt_storage_debug_file, file_type;

# sysfs
type sysfs_camera, sysfs_type, fs_type;
type sysfs_camera_awb_cal, fs_type, sysfs_type;
type sysfs_camera_sensor, fs_type, sysfs_type;
type sysfs_cir, fs_type, sysfs_type;
type sysfs_class_leds, fs_type, sysfs_type;
type sysfs_gesture, fs_type, sysfs_type;
type sysfs_power_supply, fs_type, sysfs_type;
type sysfs_scheduler, fs_type, sysfs_type;
type sysfs_vibeamp, fs_type, sysfs_type;
type sys_virtual_net, fs_type, sysfs_type;
type sys_virtual_rmnet, fs_type, sysfs_type;
type sys_virtual_wifi, fs_type, sysfs_type;

