allow hal_graphics_allocator_default default_prop:file r_file_perms;
allow hal_graphics_allocator_default sysfs_graphics:file r_file_perms;
allow hal_graphics_allocator_default sysfs_graphics:dir r_dir_perms;

