allow init { domain -lmkd -crash_dump }:process noatsecure;

allow init debugfs:file w_file_perms;
allow init debugfs_rmt:dir relabelfrom;
allow init debugfs_rmt:file relabelfrom;
allow init firmware_file:dir mounton;
allow init firmware_file:filesystem { relabelto relabelfrom associate mount };
allow init hal_configstore_ISurfaceFlingerConfigs:hwservice_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder {call transfer};
allow init proc:file {setattr};
allow init sysfs_class_leds:file {setattr};
allow init sysfs_class_leds:lnk_file r_file_perms;
allow init sysfs_graphics:file setattr;
allow init sysfs_scheduler:file { open setattr write relabelfrom };
allow init sysfs:file { setattr write open };

