allow init { domain -lmkd -crash_dump }:process noatsecure;
set_prop(init, wcnss_prop)
allow init debugfs:file w_file_perms;
allow init debugfs_rmt:dir relabelfrom;
allow init debugfs_rmt:file relabelfrom;
allow init proc:file {setattr};
allow init sysfs_class_leds:file {setattr};
allow init sysfs_class_leds:lnk_file r_file_perms;
allow init sysfs_graphics:file setattr;
allow init sysfs_scheduler:file { open setattr write };
allow init sysfs:file { setattr write open };
