allow mediaserver apk_data_file:dir search;
allow mediaserver block_device:dir search;
allow mediaserver dts_data_file:dir rw_dir_perms;
allow mediaserver dts_data_file:file create_file_perms;
allow mediaserver system_server:unix_stream_socket rw_socket_perms;

add_service(mediaserver, sensorservice_service)

