allow mediaserver camera_prop:property_service set;
allow mediaserver system_server:unix_stream_socket { read write };

# libawb_calibration tries to search /dev/block for calibration m9 doesn't have
# allow mediaserver block_device:dir search;
