allow mm-pp-daemon sysfs_class_leds:file r_file_perms;
allow mm-pp-daemon sysfs_class_leds:lnk_file r_file_perms;
allow mm-pp-daemon sysfs_class_leds:dir r_dir_perms;
allow mm-pp-daemon sysfs_graphics:lnk_file r_file_perms;

add_service(mm-pp-daemon, default_android_service)
binder_call(mm-pp-daemon, surfaceflinger)

