allow mm-qcamerad system_file:file execmod; # for libmmcamera_faceproc
set_prop(mm-qcamerad, camera_prop)
type_transition mm-qcamerad system_data_file:file camera_data_file "OTPData.dat";
