type mm-qcamera-daemon, domain;
type mm-qcamera-daemon_exec, exec_type, file_type;
init_daemon_domain(mm-qcamera-daemon)

allow mm-qcamera-daemon graphics_device:dir search;
allow mm-qcamera-daemon graphics_device:chr_file rw_file_perms;
set_prop(mm-qcamera-daemon, camera_prop)

allow mm-qcamera-daemon camera_prop:file {open read getattr};
allow mm-qcamera-daemon cameraserver:fd {use};
allow mm-qcamera-daemon camera_data_file:sock_file {unlink create};
allow mm-qcamera-daemon camera_data_file:dir {search write open read remove_name add_name};
allow mm-qcamera-daemon camera_data_file:file {read open getattr write create};
allow mm-qcamera-daemon camera_socket:sock_file {unlink};
allow mm-qcamera-daemon hal_graphics_allocator_default:fd use;
allow mm-qcamera-daemon ion_device:chr_file {ioctl read open};
allow mm-qcamera-daemon init:unix_stream_socket connectto;
allow mm-qcamera-daemon platform_app:fd {use};
allow mm-qcamera-daemon priv_app:fd {use};
allow mm-qcamera-daemon property_socket:sock_file {write};
allow mm-qcamera-daemon sysfs:file {open read getattr};
allow mm-qcamera-daemon sysfs_camera_awb_cal:file r_file_perms;
allow mm-qcamera-daemon sysfs_camera_awb_cal:dir search;
allow mm-qcamera-daemon sysfs_graphics:file {read open getattr};
allow mm-qcamera-daemon untrusted_app:fd {use};
allow mm-qcamera-daemon untrusted_app_25:fd {use};
allow mm-qcamera-daemon untrusted_app_27:fd {use};
allow mm-qcamera-daemon video_device:chr_file {ioctl write open read};

