allow netmgrd dnsresolver_service:service_manager find;
allow netmgrd qmux:unix_stream_socket connectto;
allow netmgrd netd_service:service_manager find;

binder_call(netmgrd, servicemanager)

