type pm-proxy, domain;
type pm-proxy_exec, exec_type, file_type;
init_daemon_domain(pm-proxy)

add_service(pm-proxy, binder_per_mgr_service)
binder_call(pm-proxy, pm-service)
binder_call(pm-proxy, servicemanager)

