type pm-service, domain;
type pm-service_exec, exec_type, file_type;
init_daemon_domain(pm-service)

allowxperm pm-service self:socket ioctl msm_sock_ipc_ioctls;
allow pm-service self:socket {create bind ioctl read write};

allow pm-service self:capability net_raw;
allow pm-service self:socket {create bind read write};
allow pm-service ssr_device:chr_file {open read getattr};

add_service(pm-service, binder_per_mgr_service)
binder_call(pm-service, pm-proxy)
binder_call(pm-service, rild)
binder_call(pm-service, servicemanager)

