allow priv_app device:dir r_dir_perms;
allow priv_app qemu_hw_mainkeys_prop:file {open read getattr};
allow priv_app proc_stat:file {read open getattr};
allow priv_app proc:file {read open getattr};
allow priv_app proc_interrupts:file r_file_perms;
allow priv_app sysfs_android_usb:file r_file_perms;
allow priv_app sys_virtual_rmnet:file r_file_perms;
allow priv_app sys_virtual_wifi:file r_file_perms;
allow priv_app sys_virtual_net:file r_file_perms;
