allow priv_app device:dir r_dir_perms;
allow priv_app qemu_hw_mainkeys_prop:file {open read getattr};
allow priv_app proc_stat:file {read open getattr};
