type qcom_blob, domain;
type qcom_blob_exec, exec_type, file_type;
init_daemon_domain(qcom_blob)

allow qcom_blob block_device:dir {search getattr open};
allow qcom_blob camera_data_file:dir {search write open read remove_name add_name};
allow qcom_blob camera_data_file:file {read open getattr write create};
allow qcom_blob camera_data_file:sock_file {unlink create};
allow qcom_blob camera_prop:file {open read getattr};
allow qcom_blob camera_socket:sock_file {unlink};
allow qcom_blob diag_device:chr_file {open read write ioctl};
allow qcom_blob firmware_file:dir {open read search};
allow qcom_blob firmware_file:file {open read getattr};
allow qcom_blob init:unix_stream_socket connectto;
allow qcom_blob ion_device:chr_file {ioctl read open};
allow qcom_blob mediaserver:fd {use};
allow qcom_blob misc_block_device:blk_file w_file_perms;
allow qcom_blob net_data_file:dir {open read};
allow qcom_blob netd_socket:sock_file {write};
allow qcom_blob netd:unix_stream_socket connectto;
allow qcom_blob netmgrd_socket:dir {search write add_name remove_name};
allow qcom_blob netmgrd_socket:file {open read getattr write};
allow qcom_blob netmgrd_socket:sock_file {create setattr getattr} ; 
allow qcom_blob proc:file {write open read getattr};
allow qcom_blob proc_interrupts:file {read getattr open};
allow qcom_blob proc_net:file {open read getattr write};
allow qcom_blob proc_stat:file {read getattr open};
allow qcom_blob property_socket:sock_file {write};
allow qcom_blob qcom_blob_exec:file {open read getattr execute execute_no_trans ioctl};
allow qcom_blob qmuxd_socket:dir {search open write add_name remove_name};
allow qcom_blob qmuxd_socket:sock_file {create write setattr getattr open read unlink};
allow qcom_blob rpmb_device:blk_file {open read getattr write ioctl};
allow qcom_blob rtc_device:chr_file {open read getattr ioctl};
allow qcom_blob self:binder {call transfer};
allow qcom_blob self:capability2 {block_suspend};
allow qcom_blob self:capability net_raw;
allow qcom_blob self:capability {setgid setpcap dac_override setuid sys_admin net_admin sys_module sys_rawio sys_time };
allow qcom_blob self:netlink_kobject_uevent_socket {bind setopt create};
allow qcom_blob self:netlink_route_socket {create bind nlmsg_read};
allow qcom_blob self:netlink_route_socket {read getattr setopt write nlmsg_write};
allow qcom_blob self:netlink_socket {create bind write read};
allow qcom_blob self:netlink_xfrm_socket {create bind};
allow qcom_blob self:rawip_socket {create getopt setopt};

allowxperm qcom_blob self:socket ioctl msm_sock_ipc_ioctls;
allow qcom_blob self:socket {create bind ioctl read write};

allowxperm qcom_blob self:tcp_socket ioctl priv_sock_ioctls;
allowxperm qcom_blob self:udp_socket ioctl priv_sock_ioctls;
allow qcom_blob self:tcp_socket {create ioctl};
allow qcom_blob self:udp_socket {create ioctl};

allow qcom_blob servicemanager:binder {call};
allow qcom_blob servicemanager:binder {call transfer};
allow qcom_blob smd_device:chr_file {read write open ioctl};
allow qcom_blob socket_device:dir {write remove_name add_name};
allow qcom_blob socket_device:sock_file {create setattr };
allow qcom_blob ssd_device:blk_file {read write open};
allow qcom_blob ssr_device:chr_file {open read getattr};
allow qcom_blob sysfs_devices_system_cpu:file {write read};
allow qcom_blob sysfs:dir {read open};
allow qcom_blob sysfs:file {open read getattr};
allow qcom_blob sysfs_kgsl:file {open read getattr};
allow qcom_blob sysfs_mpdecision:file {open read getattr write};
allow qcom_blob sysfs_smd_open_timeout:file {open read getattr write};
allow qcom_blob sysfs_thermal:file {read open getattr write};
allow qcom_blob sysfs_uio:dir {search open read getattr};
allow qcom_blob sysfs_uio_file:dir {search};
allow qcom_blob sysfs_uio_file:file {open read getattr};
allow qcom_blob sysfs_uio:lnk_file {read};
allow qcom_blob sysfs_wake_lock:file {append open read write};
allow qcom_blob system_file:file {lock execute_no_trans};
allow qcom_blob tee_device:chr_file {ioctl read write open};
allow qcom_blob thermal_device:chr_file {ioctl write open read};
allow qcom_blob thermal_socket:sock_file {unlink};
allow qcom_blob time_data_file:dir {search write add_name};
allow qcom_blob time_data_file:file {open read getattr write create};
allow qcom_blob toolbox_exec:file {execute open read getattr execute_no_trans};
allow qcom_blob uio_device:chr_file {open read write};
allow qcom_blob video_device:chr_file {ioctl write};
allow qcom_blob video_device:chr_file {open read write};
