allow rild default_prop:property_service { set };
allow rild proc_qtaguid_stat:file r_file_perms;
allow rild qmux:unix_stream_socket {connectto};
allow rild wifi_prop:file r_file_perms;

binder_call(rild, pm-service)

