allow system_server cir_device:chr_file rw_file_perms;
allow system_server mpctl_data_file:dir search;
allow system_server pm-service:binder {call transfer};
allow system_server qmux:unix_stream_socket {connectto};
allow system_server sysfs_gesture:file write;
allow system_server sysfs_vibeamp:file rw_file_perms;
allow system_server unlabeled:file unlink;