allowxperm toolbox self:udp_socket ioctl priv_sock_ioctls;
allow toolbox self:udp_socket {create ioctl};
allow toolbox diag_device:chr_file {read write};
allow toolbox self:capability {net_admin};
