allow untrusted_app_27 block_device:dir r_dir_perms;
allow untrusted_app_27 proc:file r_file_perms;
allow untrusted_app_27 proc_version:file r_file_perms;
allow untrusted_app_27 sysfs_battery_supply:dir r_dir_perms;
allow untrusted_app_27 sysfs_battery_supply:file r_file_perms;
allow untrusted_app_27 storage_stub_file:dir r_dir_perms;
allow untrusted_app_27 sysfs:file r_file_perms;
allow untrusted_app_27 sysfs_graphics:dir r_dir_perms;
allow untrusted_app_27 sysfs_graphics:file r_file_perms;
allow untrusted_app_27 sysfs_kgsl:file r_file_perms;
allow untrusted_app_27 sysfs_kgsl:lnk_file {read};
allow untrusted_app_27 sysfs_scheduler:file r_file_perms;

