on boot
    # add a cpuset for the camera daemon
    # we want all the little cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # update foreground cpuset now that processors are up
    # reserve CPU 3 for the top app and camera daemon
    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/camera-daemon/cpus 0-3

on property:sys.boot_completed=1
    setprop sys.io.scheduler "cfq"

    # Disable retention on HTC
    write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/cpu6/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/cpu7/retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled 0
    write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled 0

    # ensure at most one A57 is online when thermal hotplug is disabled
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

    # Limit A57 max freq from msm_perf module in case CPU 4 is offline
    write /sys/module/msm_performance/parameters/cpu_max_freq "4:960000 5:960000 6:960000 7:960000"

    # disable thermal bcl hotplug to switch governor
    write /sys/module/msm_thermal/core_control/enabled 0

    # configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    # must restore after interactive
    restorecon -R /sys/devices/system/cpu
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "0 600000:19000 672000:20000 960000:24000 1248000:38000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 93
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 90000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 672000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "29 384000:88 600000:90 672000:92 864000:22 960000:93 1248000:98"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 60000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1344000

    # online CPU4
    write /sys/devices/system/cpu/cpu4/online 1

    # configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    # must restore after interactive
    restorecon -R /sys/devices/system/cpu
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "20000 864000:30000 960000:40000 1248000:30000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 90000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 960000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "70 864000:75 960000:90 1248000:99"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1248000

    # re-enable thermal and BCL hotplug
    write /sys/module/msm_thermal/core_control/enabled 1

    # enable LPM
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # change GPU initial power level from 305MHz(level 4) to 180MHz(level 5) for power savings
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 5

    # set GPU default governor to msm-adreno-tz
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/governor msm-adreno-tz

    # plugin remaining A57s
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # android background processes are set to nice 10. Never schedule these on the a57s.
    write /proc/sys/kernel/sched_upmigrate_min_nice 9

    # Setting b.L scheduler parameters
    write /proc/sys/kernel/sched_migration_fixup 1
    write /proc/sys/kernel/sched_small_task 30
    write /proc/sys/kernel/sched_mostly_idle_load 20
    write /proc/sys/kernel/sched_mostly_idle_nr_run 3
    write /proc/sys/kernel/sched_upmigrate 95
    write /proc/sys/kernel/sched_downmigrate 85
    write /proc/sys/kernel/sched_window_stats_policy 2
    write /proc/sys/kernel/sched_ravg_hist_size 5
    write /proc/sys/kernel/sched_freq_inc_notify 400000
    write /proc/sys/kernel/sched_freq_dec_notify 400000

    #enable rps static configuration
    write /sys/class/net/rmnet_ipa0/queues/rx-0/rps_cpus "0f"
    write /sys/class/devfreq/qcom,cpubw.34/governor "bw_hwmon"
    write /sys/class/devfreq/qcom,mincpubw.35/governor "cpufreq"

    rm /data/system/perfd/default_values
    start perfd

service perfd /vendor/bin/perfd
    class main
    user root
    group root readproc
    disabled
    writepid /dev/cpuset/system-background/tasks
